<footer>
   <h1>Want To Learn More? No Problem!</h1>
  <ul class="footer-logos">
    <li><a href="https://www.churchofjesuschrist.org/?lang=eng"><img src="assets/images/ldslogo.png" alt="Logo1" class="footer-logo1" /></a></li>
    <li><a href="https://www.churchofjesuschrist.org/comeuntochrist"><img src="assets/images/comeuntochristlogo.png" alt="Logo2" class="footer-logo2" /></a></li>
  </ul>

  <div class="footer-row">
    <div class="footer-column">
      <h3>Libraries</h3>
      <div class="footer-resources">
        <a href="https://www.churchofjesuschrist.org/study/scriptures?lang=eng&platform=web">Scriptures</a>
        <a href="https://www.churchofjesuschrist.org/study/general-conference?lang=eng">General Conference</a>
        <a href="https://www.churchofjesuschrist.org/study/come-follow-me?lang=eng">Come, Follow Me</a>
        <a href="https://www.churchofjesuschrist.org/study/lib?lang=eng&platform=web">Gospel Library</a>
        <a href="https://www.churchofjesuschrist.org/media?lang=eng">Media Library</a>
        <a href="https://www.churchofjesuschrist.org/music/library?lang=eng">Music Library</a>
        <a href="https://www.churchofjesuschrist.org/topics/families-and-individuals/lifes-challenges/hope-and-help?lang=eng">Life Help</a>
        <a href="https://www.churchofjesuschrist.org/inspiration?lang=eng">Inspiration</a>
        </div>
    </div>
    <div class="footer-column">
      <h3>Serve</h3>
      <div class="footer-resources">
        <a href="https://www.churchofjesuschrist.org/callings?lang=eng">Callings</a>
        <a href="https://www.churchofjesuschrist.org/serve/share?lang=eng">Sharing The Gospel</a>
        <a href="https://www.churchofjesuschrist.org/serve?lang=eng">Volunteer and Serve</a>
        <a href="https://www.churchofjesuschrist.org/temples?lang=eng">Temples</a>
        <a href="https://www.churchofjesuschrist.org/family-history?lang=eng">Family History</a>
      </div>
    </div>
    <div class="footer-column">
      <h3>Connect</h3>
      <div class="footer-resources">
        <a href="https://www.churchofjesuschrist.org/comeuntochrist/belong?lang=eng">Worship Service</a>
        <a href="https://maps.churchofjesuschrist.org/?lang=eng">Meetinghouse Locator</a>
        <a href="https://www.churchofjesuschrist.org/comeuntochrist/requests/missionary-visit">Ask a Missionaries</a>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
    <p>&copy; 2023 Gospel Insights. All rights reserved.</p>
  </div>
</footer>
