<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Oswald&family=Playfair+Display&display=swap" rel="navbar.component.css">

    <nav class="navbar">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Oswald&display=swap');
        </style>
        <div class="navbar-content">
            <img src="assets/images/parentchatlogo.jpeg" alt="Logo" class="navbar-logo" />
            <div class="title-container">
                <h1 class="navbar-title">Little Lifeline</h1>
                <p class="navbar-quote1">From First Smiles to Big Strides</p>
                <p class="navbar-quote2">Tiny Health, Mighty Development</p>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="#" class="active" (click)="refreshPage()">New Chat</a></li>
        </ul>
    </nav>
</header>
